 <p id="choose-from">--- pick a choice below ---</p>
 <ul class="song-choice-list">
  <li *ngFor="let guessItem of gameInfo.getShuffledSongList()">{{guessItem.name}} - {{guessItem.artist}}</li>
</ul>
 <p id="choose-from">--- {{gameInfo.players.length}} players ---</p>
 <ul class="player-list flexcontainer">
  <li *ngFor="let player of gameInfo.players">
    <div>
      <span class="player-name">{{player.name}}</span>
      <span>-</span>
      <span>{{player.score}}</span>
    </div>
  </li>
</ul>
 <audio autoplay [currentTime]="gameInfo.gameSong.startTime">
  <source [src]="gameInfo.gameSong.url" type="audio/mpeg">
  Your browser does not support the audio tag.
</audio> 
